@use '/src/style/color.scss' as valiable-color;

.card-container {
  background-color: valiable-color.$secondary-color;
  margin-top: 43px;

  padding: 25px 25px;
  border-radius: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logement-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
}

.card {
  position: relative;
  margin: 3px;

  img {
    width: 340px;
    height: 340px;
    position: relative;
    border-radius: 10px;
    object-fit: cover;
  }
  .logement-title {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    margin: 20px;
  }
}

.loader-circle {
  width: 100px;
  height: 100px;
  border: 10px solid gray;
  border-top: 10px solid valiable-color.$primary-color;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.error-message {
  color: valiable-color.$primary-color;
  font-size: 20px;
}

@media only screen and (max-width: 1290px) {
  .card {
    width: 45%;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 950px) {
  .card {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    background-color: transparent;
    margin-top: 0px;
    padding: 20px 0px;
    border-radius: 23px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
