.layout {
  width: 1024px;
  border: red solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1024px) {
  .layout {
    width: 100%;
    border: red solid 1px;
  }
}
