.dropdown {
  width: 100%;
}

.dropdown-label {
  display: flex;
  justify-content: space-between;

  border-radius: 5px;
  padding: 10px 20px 10px 15px;

  background-color: $primary-color;
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 24px;

  button {
    background-color: $primary-color;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icone {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  .icone.animation {
    transform: rotate(180deg);
  }
}

.dropdown-texte {
  background-color: $secondary-color;
  margin: 0;
  padding: 16px 20px;
  font-size: 18px;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  @keyframes scale-up-ver-top {
    0% {
      transform: scaleY(0.4);
      transform-origin: 100% 0;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 100% 0;
    }
  }
}
