.dropdown {
  width: 100%;
}

.dropdown-label {
  display: flex;
  justify-content: space-between;

  border-radius: 5px;
  padding: 10px 20px 10px 15px;

  background-color: $primary-color;
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 24px;

  button {
    background-color: $primary-color;
    background-color: $primary-color;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 24px;
    border: none;
    width: 32px;
    height: 32px;
  }
}

.dropdown-texte {
  background-color: $secondary-color;
  margin: 0;
}
