@use '/src/style/color.scss' as valiable-color;

.description {
  margin-top: 30px;
}

.description-content {
  display: flex;
  justify-content: space-between;

  .description-logement {
    width: 75%;
  }

  .host-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;

  color: valiable-color.$primary-color;
  font-size: 18px;

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  span {
    text-align: end;
  }
}

.tag-list {
  display: flex;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  gap: 10px;
  flex-wrap: wrap;
}

.rating {
  display: flex;
  gap: 4px;
  .star {
    color: #e3e3e3;
    width: auto;
    height: 24px;
  }
  .red-star {
    color: valiable-color.$primary-color;
    width: auto;
    height: 24px;
  }
}

.description-buttons {
  display: flex;
  gap: 76px;
  margin-top: 24px;
}

.equipments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .description-content {
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 16px;

    .description-logement {
      width: 100%;
      span {
        font-size: 14px;
        margin-top: 5px;
      }
    }

    .rating {
      .star {
        height: 13px;
      }
      .red-star {
        height: 13px;
      }
    }

    .host-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;

      flex-direction: row-reverse;
    }
  }

  .host {
    font-size: 12px;
  }

  .description-buttons {
    flex-direction: column;
    gap: 20px;
  }
}
