header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 100%;

  border: black solid 1px;
}

.logo-header {
  width: 210.32px;
  height: 68px;
}

.list-nav-header {
  display: flex;
  gap: 57px;
  list-style: none;

  border: blue solid 1px;
}

.nav-link {
  color: $primary-text-color;
  text-decoration: none;
}
