header {
  width: 100%;
  max-width: 1440px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  height: 68px;
  margin-left: 100px;
}

nav {
  margin-right: 100px;
}

.list-nav-header {
  display: flex;
  list-style: none;
  gap: 57px;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: $primary-text-color;
  &:hover {
    border-bottom: black solid 1px;
  }
}
