// Définition des couleurs principale du site

$primary-color: #ff6060; // Rouge
$secondary-color: #f6f6f6; // Gris clair
$primary-text-color: #000000; // Couleur du texte sur fond blanc
$secondary-text-color: #ffffff; // Couleur du texte sur fond noir
