// Définition de la couleur principale
$primary-color: #ff6060; // Rouge
$secondary-color: #f6f6f6; // Gris clair
$primary-text-color: #000000; // Couleur du texte sur fond blanc
$secondary-text-color: #ffffff; // Couleur du texte sur fond noir

// Composants
@import '/src/components/footer/footer.scss';
@import '/src/components/header/header.scss';
@import '/src/components/banner/banner.scss';
@import '/src/components/card-container/card-container.scss';
@import '/src/components/dropdown-button/dropdown-button.scss';
// Pages
@import '/src/pages/home/home.scss';
@import '/src/pages/a_propos/a_propos.scss';
@import '/src/pages/logement/logement.scss';
@import '/src/pages/erreur/erreur.scss';
// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1440px;

  section {
    margin: 50px 100px;
  }
}

h1 {
  color: $secondary-text-color;
  font-size: 48px;
}

h2 {
  color: $primary-color;
  font-size: 36px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
