// Composants
@use '/src/components/footer/footer.scss';
@use '/src/components/header/header.scss';
@use '/src/components/banner/banner.scss';
@use '/src/components/card-container/card-container.scss';
@use '/src/components/dropdown-button/dropdown-button.scss';
@use '/src/components/carousel/carousel.scss';
@use '/src/components/description/description.scss';
// Pages
@use '/src/pages/home/home.scss';
@use '/src/pages/about/about.scss';
@use '/src/pages/accommodation/accommodation.scss';
@use '/src/pages/error/error.scss';
// Variables
@use '/src/style/color.scss' as valiable-color;

body {
  margin: 0;
  font-family: 'Montserrat';
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1440px;

  section {
    margin: 50px 100px;
  }
}

h1 {
  color: valiable-color.$secondary-text-color;
  font-size: 48px;
}

h2 {
  color: valiable-color.$primary-color;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.tag {
  background-color: valiable-color.$primary-color;
  color: valiable-color.$secondary-text-color;
  min-width: 115px;
  max-width: 75%;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 14px;
}

/**** media queries ****/
@media only screen and (max-width: 768px) {
  main {
    section {
      margin: 27px 20px;
    }
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }

  .tag {
    min-width: 84px;
    min-height: 18px;
    font-size: 10px;
  }
}
