.carousel {
  position: relative;
  .image-logement {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  .nav-carousel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    .btn-nav {
      margin: 23px;
      border: none;
      background-color: transparent;
    }
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/**** media queries ****/
@media only screen and (max-width: 768px) {
  .carousel {
    position: relative;

    .image-logement {
      width: 100%;
      height: 255px;
      object-fit: cover;
      border-radius: 25px;
    }

    .btn-nav {
      width: 11px;
    }
  }
}
