footer {
  background-color: black;
  width: 100%;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: end;
}

footer div {
  text-align: center;
}

.logo-footer {
}

.copywriter {
  margin: 29px;
  color: $secondary-text-color;
}
