// import variable
@use '/src/style/color.scss' as valiable-color;

.erreur-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 139px;
  text-align: center;
}

.message-404 {
  color: valiable-color.$primary-color;
  font-size: 288px;
  font-weight: 700;
}

.link-erreur {
  text-decoration: none;
  color: valiable-color.$primary-text-color;
  font-size: 18px;
  &:hover {
    border-bottom: black solid 1px;
  }
}

/**** media queries ****/
@media only screen and (max-width: 768px) {
  .erreur-page {
    text-align: center;
    gap: 113px;
    padding: 113px 57.5px;
  }
  .message-404 {
    font-size: 96px;
  }
  .link-erreur {
    font-size: 14px;
  }
}
